<div class=" grid grid-cols-12">
    <div class=" col-span-9 gap-4">
        <div class="mt-20 ml-20">
            <div class=" space-y-4 mr-24">
                <img class="w-12 h-12 rounded-full" src="https://placehold.co/50x50" alt="Rounded avatar">
                <div class="  text-2xl"> Welcome Mr.Kenobi</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio beatae. Voluptate
                    distinctio
                    ullam dolor. Numquam at, voluptatum aliquam architecto nihil nulla quae, ullam fuga corporis
                    molestias
                    iusto veniam sed unde cupiditate ex explicabo doloribus eveniet error recusandae laboriosam.</p>
                <button type="button"
                    class="py-2.5 px-5 me-2 mb-2 text-sm font-medium focus:outline-none bg-[#768f1c] text-white rounded-md border border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Create
                    offer</button>
            </div>
        </div>
        <div class=" flex mt-20 ml-20">
            <div class=" space-y-4 w-6/12 bg-[#eff0ef] p-8 rounded-md">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-adjustments  stroke-current"
                    width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 10a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M6 4v4" />
                    <path d="M6 12v8" />
                    <path d="M10 16a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M12 4v10" />
                    <path d="M12 18v2" />
                    <path d="M16 7a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M18 4v1" />
                    <path d="M18 9v11" />
                </svg>
                <div class=" text-lg"> Your project reports</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio beatae. Voluptate
                    distinctio
                    ullam dolor. Numquam at, voluptatum aliquam architecto nihil nulla quae, ullam fuga corporis
                    molestias
                    iusto veniam sed unde cupiditate ex explicabo doloribus eveniet error recusandae laboriosam.
                    Voluptates</p>
                <button type="button"
                    class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-[#768f1c] rounded-full border border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Create
                    offer</button>
            </div>
            <div class="bg-[#afaeae]  flex items-center p-4">
                <img class="w-48 h-48" src="https://placehold.co/100x100" alt="Rounded avatar">
                <div class=" pl-6 space-y-4">
                    <div>PV Generation</div>
                    <div>Self Consumptions</div>
                    <div>Backup Power</div>
                    <button type="button"
                    class="py-2.5 px-2 me-2 mb-2 text-sm font-medium focus:outline-none bg-[#768f1c] text-white rounded-md border border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Download report</button>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-span-3">
        <div class=" mt-20 flex gap-16">
            <div>
                <div class="mb-4 text-lg"> Your products</div>
                <img src="https://placehold.co/120x200" alt="placehold">
            </div>
            <div>
                <div class="mb-4 text-lg"> Your result</div>
                <img src="https://placehold.co/120x200" alt="placehold">
            </div>
        </div>

        <div class="mt-20">
            <div class=" bg-slate-100 p-4 space-y-8">
                <img class="w-12 h-12 rounded-full" src="https://placehold.co/50x50" alt="Rounded avatar">
                <div class="  text-lg"> Our stories</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, optio beatae. Voluptate
                    distinctio
                    ullam dolor. Numquam at</p>
                <button type="button"
                    class="py-2.5 px-5 me-2 mb-2 text-sm font-medium focus:outline-none bg-white text-gray-900 rounded-md border border-gray-200 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                Read more</button>
            </div>
        </div>
    </div>
</div>